{% extends "layout.html.twig" %}

{% block body %}

<!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Serie de {{data.ville}}</h1>
        <button type="button" class="btn btn-success"><a href="{{ path_for('addPhoto', { 'id': data.id }) }}">Ajouter photo</a></button>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-md-6">

          <form class="form-signin" action="" method="POST">
              <div class="form-group">
                  <label for="nom">Nom</label>
                  <input type="text" class="form-control" id="nom" name="nom">
              </div>
              <div class="form-group">
                  <label for="desc">Description</label>
                  <input type="text" class="form-control" id="desc" name="desc">
              </div>
              <div class="form-group">
                  <label for="url">Url</label>
                  <input type="text" class="form-control" id="url" name="url">
                  <small id="help" class="form-text text-muted">Enter URL of the image taken from the internet. <br/>
                    <button type="button" class="btn btn-default"><a href="https://prnt.sc">Upload your own?</a></button>
                  </small>
              </div>
              <div class="form-group">
                  <label for="longitude">Longitude</label>
                  <input type="text" class="form-control" id="longitude" value="" name="longitude">
                  <small id="help" class="form-text text-muted">Drag it to the exact position of the photo.</small>
              </div>
              <div class="form-group">
                  <label for="latitude">Latitude</label>
                  <input type="text" class="form-control" id="latitude" value="" name="latitude">
                  <small id="help" class="form-text text-muted">Drag it to the exact position of the photo.</small>
              </div>
              <input type="submit" class="btn btn-primary"/>
          </form>
        </div>

        <div class="col-md-6" id="mapPhoto">

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}

{% block js %}
  <script>
    var latitude = '{{ data.latitude }}';
    var longitude = '{{ data.longitude }}';
  </script>
  <script src="../assets/js/index.js"></script>
{% endblock %}
