{% extends "layout.html.twig" %}

{% block body %}

<!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="form-signin" action="" method="POST">
                    <div class="form-group">
                        <label for="ville">Ville</label>
                        <input type="text" class="form-control" id="ville" name="ville">
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude</label>
                        <input type="text" class="form-control" id="longitude" value="" name="longitude">
                        <small id="help" class="form-text text-muted">Define it in the center of the wanted city.</small>
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude</label>
                        <input type="text" class="form-control" id="latitude" value="" name="latitude">
                        <small id="help" class="form-text text-muted">Define it in the center of the wanted city.</small>
                    </div>
                    <div class="form-group">
                        <label for="zoom">Zoom</label>
                        <select class="form-control" id="zoom" name="zoom">
                            <option>16</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
            <div class="col-md-6" id="map">

            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}