{% extends "layout.html.twig" %}

{% block flash %}
    {% if flash() %}
        <ul class="alert alert-danger">
            {% for msg in flash() %}
                <li>{{ msg[0] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block body %}

<!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="form-signin" action="" method="POST">
                    <div class="form-group">
                        <label for="ville">Ville*</label>
                        <input type="text" class="form-control" id="ville" name="ville" required>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude*</label>
                        <input type="text" class="form-control" id="longitude" value="" name="longitude" required>
                        <small id="help" class="form-text text-muted">Define it in the center of the wanted city.</small>
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude*</label>
                        <input type="text" class="form-control" id="latitude" value="" name="latitude" required>
                        <small id="help" class="form-text text-muted">Define it in the center of the wanted city.</small>
                    </div>
                    <div class="form-group">
                        <label for="temps">Temps*</label>
                        <input type="number" class="form-control" id="temps" value="" name="temps" required>
                        <small id="help" class="form-text text-muted">Temps de chaque photo en seconde.</small>
                    </div>
                    <div class="form-group">
                        <label for="distance">Distance*</label>
                        <input type="number" class="form-control" id="distance" value="" name="distance" required>
                        <small id="help" class="form-text text-muted">Distance en métre pour le calcul de points.</small>
                    </div>
                    <div class="form-group">
                        <label for="zoom">Zoom</label>
                        <select class="form-control" id="zoom" name="zoom">
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option selected>16</option>
                            <option>17</option>
                            <option>18</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
            <div class="col-md-6" id="mapSerie">

            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}


{% block js %}
  <script src="../assets/js/index.js"></script>
{% endblock %}