{% extends "layout.html.twig" %}

{% block body %}

    <div class="container">

      <header class="jumbotron my-4">
        <h1 class="display-3">Signin</h1>
        <a href="{{ path_for('register') }}"><button type="button" class="btn btn-success">Nouvelle utilisateur?</button></a>
      </header>

      <form class="form-signin" action="" method="POST">
        <h2 class="form-signin-heading">Welcome back</h2>
        <label for="pseudo" class="sr-only">Pseudo</label>

        <input name="pseudo" type="text" id="pseudo" class="form-control" placeholder="Pseudo" required autofocus>

        <label for="password" class="sr-only">Password</label>

        <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
          <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
{% endblock %}